In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df=pd.read_csv("area2.csv");
df

   area  price  bedroom  age
0   500  20000        3   25
1  1000  30000        2   18
2  1550  40000        4   20
3  1200  35000       20   40
4  1199  10000        5   24
5   220  50000        3   49
6  2345  75000        2   20
7   123  29000       10   60

In [4]:
model=linear_model.LinearRegression();
model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [5]:
model.predict([[500,3,25]])

/Applications/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15342.40853697])

In [7]:
model.predict([[220,10,60]])

/Applications/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([41569.49060437])

In [9]:
new_house=pd.read_csv('houseData.csv')
new_house

   area  bedroom  age
0   500        3   25
1  1000        2   18
2  1550        4   20
3  1200       20   40
4  1199        5   24
5   220        3   49
6  2345        2   20
7   123       10   60

In [10]:
price=model.predict(new_house)
new_house['price']=price
new_house.to_csv('prediction.csv')